@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  text-decoration: none;
}
.text-inherit{
  color: inherit;
}
.dropdown:hover .dropdown-menu {
  display: block;
}

body{
  background-color: black;
  text-decoration: none;
  color: rgb(255, 255, 255);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
